{% extends 'base.html' %}
{% load static %}

{% block title %}
회원가입 페이지
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/signUp.css' %}">
{% endblock %}

{% block content %}
<section>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not valid_username %}
        <div style="font-size: smaller;">ID/PW 양식을 확인해 주세요.</div>
        {% endif %}

        <p>
            <div>
                ID
                {% if not valid_username %}
                <span style="font-size: smaller;">이미 사용중인 ID입니다.</span>
                {% endif %}
            </div>
            {{ user_signup_form.username }}
        </p>

        <p>
            <div>비밀번호</div>
            {{ user_signup_form.password }}
        </p>


        <p>
            <div>
                이메일
                {% if not valid_email %}
                <span style="font-size: smaller;">이미 사용중인 이메일입니다.</span>
                {% endif %}
            </div>
            {{ user_signup_form.email }}
        </p>

        <p>
            <div>
                닉네임
                {% if not valid_nickname %}
                <span style="font-size: smaller;">이미 사용중인 닉네임입니다.</span>
                {% endif %}
            </div>
            {{ user_profile_form.nickname }}
        </p>

        <p>
            <div>소개</div>
            {{ user_profile_form.introduce }}
        </p>

        <p>
            <div>대표 이미지</div>
            {{ user_profile_form.image }}
        </p>

        <input type="submit" value="회원가입">
    </form>

    <a href="{% url 'main' %}"><p>메인 페이지로 돌아가기</p></a>
</section>
{% endblock %}